// overwrite the fullcalendar default styles
.fc-event {
    border: none !important;
    background-color: #ccc !important;
    border-radius: 0 !important;
    padding: 5px !important;

    // event colors for all codesavvy orgs
    &.get-with-the-program-event {
        background-color: #EE1F46 !important;
    }
    &.kids-code-event {
        background-color: #3A1366 !important;
    }
    &.technovation-mn-event {
        background-color: #F6BF26 !important;
    }
    &.northfield-coderdojo-event {
        background-color: #008CD0 !important;
    }
    &.rebecca-coderdojo-event {
        background-color: #B2469A !important;
    }
    &.tc-coderddojo-event {
        background-color: #6CBD45 !important;
    }

    .fc-content {
        white-space: normal !important;
    }
}
.fc-list-item {
    .fc-event-dot {
        background-color: #ccc !important;
    }
    &.codesavvy-event {
        .gwtp-event {
            background-color: $codesavvy-purple !important;
        }
    }
}
.fc-view {
    margin-bottom: 50px !important;
}
.fc-scroller {
    height: auto !important;
}