.events-section {
    ul {
        margin: 0 0 50px;
    }
    li {
        padding-bottom: 5px;
    }
    .event-description {
        padding-bottom: 10px;
        border-bottom: $default-border;
        margin-bottom: 10px;
    }
    .event-location {
        margin-bottom: 0;
    }
    .event-map {
        padding-bottom: 10px;
    }
}