.header-wrapper {
    height: $header-height;
}

header {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: $header-height;
    background-color: $header-bg-color;
    padding: 0 30px;
    transition: background-color 0.5s;

    .btn {
        position: absolute;
        top: 27px;
        right: 150px;

        @media (max-width: 500px) {
            right: 90px;
            padding: 0 15px;
            font-size: 14px;
            line-height: 2.5;
        }
    }
}

.brand {
    position: absolute;
    top: 0;
    left: 50px;
    z-index: 1001;
    display: block;
    max-height: $header-height;

    @media (max-width: 500px) {
        left: 10px;
    }
    
    .main-logo {
        display: block;

        img {
            max-height: $header-height;
            width: auto;

            @media (max-width: 500px) {
                width: 120px;
                height: auto;
            }
        }
    }
}

.home .brand {
    display: none;
}

.navigation {
    position: absolute;
    top: 0;
    right: 0;
    width: 320px;

    ul {
        list-style: none;
        padding: 70px 30px 30px;
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: $default-box-shadow;
        display: none;

        li {
            text-align: right;
            padding: 10px 0;
        }
    }
}

.hamburger {
    position: absolute;
    top: 15px;
    right: 50px;
    width: 65px;
    height: 65px;
    cursor: pointer;
    display: block;
    border: none;

    @media (max-width: 500px) {
        right: 10px;
    }


    &:focus {
        outline: 0;
    }

    span,
    span:before,
    span:after {
        cursor: pointer;
        height: 5px;
        width: 35px;
        background: $codesavvy-purple;
        position: absolute;
        top: 30px;
        left: 15px;
        display: block;
        content: '';
        transition: all 500ms ease-in-out;
    }
    span:before {
        top: -10px;
        left: 0;
    }
    span:after {
        top: auto;
        bottom: -10px;
        left: 0;
    }
    &:hover {
        span,
        span:before,
        span:after {
            background: $codesavvy-light-purple;
        }
    }
}

.navActive .hamburger {
    background: none;

    span {
        background-color: transparent;
    }
    span:before,
    span:after {
        top: 0;
    }
    span:before {
        transform: rotate(45deg);
    }
    span:after {
        transform: rotate(-45deg);
    }
    &:hover {
        span:before,
        span:after {
            background: $codesavvy-light-purple;
        }
    }
}