.youth-programs-section {
    ul {
        display: flex;
        flex-wrap: wrap;
        margin: 0;
        padding: 0;

        li {
            position: relative;
            list-style: none;
            flex: 0 1 50%;
            height: 0;
            padding-bottom: 50%;
            background-size: 100%;
            background-position: center center;
            transition: all 0.3s;
            opacity: 0.5;

            &:hover {
                background-size: 110%;
                cursor: pointer;
                opacity: 1;
            }

            .inner {
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0,0,0,0.7);
                padding: 0 20px;
                opacity: 0;
                transition: opacity 0.3s;
            }

            &:hover .inner {
                opacity: 1;
            }

            h2 {
                font-size: 5vw;
                line-height: 1;
                font-weight: 600;
                text-shadow: $default-text-shadow;
                text-align: center;
                color: $light-text-color;
            }
            p {
                color: $light-text-color;

                &:after {
                    @include insert-icon($icon-arrow-right, 18px, $light-text-color); 
                    position: relative;
                    top: 1px;
                    left: 10px;
                }
            }
        }
    }
}