.rebecca-register-section {
    .schedule-wrapper {
        padding-top: 30px;
        display: flex;
        justify-content: center;

        img {
            margin-left: 50px;

            @media (max-width: 700px) {
                display: none;
            }
        }
    }
}
.rebecca-schedule {
    display: inline-block;

    li:first-child {
        font-weight: 600;
        padding-bottom: 0;
    }
    li:nth-child(2) {
        border-bottom: $default-border;
        margin-bottom: 10px;
    }

    li {
        span {
            display: inline-block;
            width: 150px;
        }
    }
}