$header-text-color: #fff;
$header-text-weight: 700;
$header-text-size: 60px;

.section-row__header {
    position: relative;
    overflow: hidden;
    min-height: 400px;

    h1 {
        position: absolute;
        z-index: 1;
        right: -3px;
        bottom: 6px;
        margin: 0;
        color: $header-text-color;
        font-weight: $header-text-weight;
        font-size: $header-text-size;
        line-height: 0.55;
        text-align: right;
        text-shadow: $default-text-shadow;
    }

    &.section-row__right {
        h1 {
            right: auto;
            left: -5px;
            text-align: left;
        }
    }
}



.section-row__prose {
    padding: 30px;
    font-size: 18px;
    line-height: 1.6;
}