.what-is-section {
    margin-top: 50px;
    padding-top: 20px;

    ul {
        text-align: center;
    }

    li {
        width: 33%;
        text-align: center;

        @media (max-width: 450px) {
            width: 100%;
            padding-bottom: 30px;
        }
    }
}