$postamble-bg-color: #f0f0f0;

.section-row {
    width: 100%;
    min-height: 400px;
    display: flex;

    &.auto-height {
        min-height: 0;
    }

    .has-slidein {
        position: relative;
        overflow: hidden;

        .slidein {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 110%;
            width: 100%;
            background-color: $header-bg-color;
            padding: 30px;
            transition: all 0.3s $animation-default;

            .icon-x {
                position: absolute;
                top: 0;
                right: 0;
                display: block;
                width: 40px;
                height: 40px;
                text-align: center;
                line-height: 40px;
                font-size: 24px;
                cursor: pointer;
            }
        }
    }
}
.section-row__left,
.section-row__right {
    flex-basis: 50%;
    order: 2;
}
.section-row__right + .section-row__left {
    order: 1;
}

.section-row__header {
    background-size: cover;
}


@media (max-width: 700px) {
    .section-row {
        display: block;

        .is-empty {
            display: none;
        }
    }

    .section-row__left,
    .section-row__right {
        width: 100%;
    }
}

.section-postamble {
    display: block;
    width: 100%;
    color: $default-text-color;
    background-color: $postamble-bg-color;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    margin: 0;
    padding: 40px 0;

    &.no-top {
        padding-top: 0;
    }
}