---
title: Code Clubs


#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: code-clubs

---

{% extends "default.njk" %}
{% block header %}
    {% include "partials/no-nav-header.njk" %}
{% endblock %}
{% block body %}
    <section id="intro" class="intro-section">
        <div class="container">
            <h1>Code Clubs</h1>
            <img src="/assets/images/code-clubs/teaching-kids-to-code.jpg" alt="the works museum" />
            <p>Code Clubs are places for youth in grades 4 to 12 to learn to code in a free, fun, open-ended environment, out of school.  Mentors recruited and trained by Code Savvy will guide groups of kids through a progressive series of projects and challenges.</p>

            <p>Code Club sessions start out using Scratch, a fun and powerful programming language for beginners. We've enhanced these to include more open-ended challenges, and to explore circuits, electronics and robots too.  The sessions also use web languages (HTML5, CSS3 and Javascript) and Python.  We also use AppInventor to enable young people to create mobile apps.</p>

            <p>Young coders in a Minnesota Code Club will choose projects including:</p>

            <ul>
                <li><a href="https://scratch.mit.edu/projects/29637574/">Animating their name</a></li>
                <li>Making a <a href="https://scratch.mit.edu/projects/10128368/">Hide and Seek game</a> or <a href="https://scratch.mit.edu/projects/10128368/">other games</a></li>
                <li>Creating <a href="https://scratch.mit.edu/projects/11806234/">digital greeting cards</a></li>
                <li>Coding a unique "flappy bird" type app</li>
                <li>Coding robots to dance, sing and explore</li>
                <li>Building web sites and looking inside sites with X-ray goggles</li>
                <li>Tackling Python</a>, a real world programming language (can be used to make mods in Minecraft)</li>
                <li><a href="https://appinventor.mit.edu/explore/ai2/paintpot-part1.html">Paint pot</a> or <a href="https://www.appinventor.org/content/ai2apps/simpleApps/noTexting">No Text While Driving</a></li>
                <li>and more...</li>
            </ul>
            <p>As they build cool things, these young people learn important concepts in math and computer science, including loops, variables, event handling, angles, decimals, coordinate systems and more.  They also learn the important life skills of persistence, resilience, communication, collaboration and creative problem solving. Most importantly, they enjoy becoming creators -- not just users -- of modern technology.</p>

            <p>Code Savvy is partnering with community organizations to create Code Clubs in North Minneapolis, and to reach lower-income communities in South Minneapolis, Richfield, Brooklyn Park, Brooklyn Center and St. Paul.   Schools or community organizations provide a meeting space, a consistent group of 4th to 12th graders and one or more staff members.  Ideally, they have good wifi and computers available.  Code Savvy provides trained mentors and a series of programming lessons and challenges.</p>

            <p>Please contact us at <a href="mailto:kidscode@codesavvy.org">kidscode@codesavvy.org</a> if you are a interested in starting a Code Club at your school, library or community site. We are very interested in talking to you. We are seeking additional funds for the Code Clubs and welcome any donations and leads.</p>
        </div>
    </section>

{% endblock %}