---
title: Code Camps

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: code-camps

header_images:
    contact: contact-header.jpg

---

{% extends "default.njk" %}
{% block header %}
    {% include "partials/no-nav-header.njk" %}
{% endblock %}
{% block body %}
    <div class="container">
        <section id="intro" class="intro-section">
            <h1>Code Camps</h1>
            <img src="/assets/images/sponsors/works-museum-logo.png" alt="the works museum" />
            <p>We held 3 successful camps at The Works the summer of 2019. Watch this space for our 2020 camp offerings. To receive our newsletter about our offering year round please Contact Us with a message to join our Newletter.</p>
        </section>

        <section id="contact" class="contact-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/banners/{{ header_images.contact }})">
                    <h1>Contact Us</h1>
                </div>
                <div class="section-row__prose section-row__right has-highlight is-empty">
                    <p></p>
                </div>
            </div>
            <div class="section-row cf">
                <div class="contact-form section-row__left" >
                    <form name="contact" method="POST" netlify-honeypot="bot-field" netlify>
                        <div class="form-element">
                            <input type="text" name="name" placeholder="Your Name">
                        </div>
                        <div class="form-element">
                            <input type="email" name="email"  placeholder="Your Email">
                        </div>
                        <div class="form-element">
                            <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                        <div class="form-element">
                            <button class="btn btn_b1" type="submit">Send</button>
                        </div>
                    </form>
                </div>
                <div class="contact-info section-row__right">
                    <ul class="contact-snippets adr">
                        <li>
                            <i class="icon icon-map-pin"></i>
                            <p>{{ contact.addressHeader }}</p>
                            <p class="street-address">{{ contact.street }}</p>
                            <p class="locality">{{ contact.city }},
                                <span class="region">{{ contact.state }} </span>
                                <span class="postal-code">{{ contact.postalCode }}</span>
                            </p>
                        </li>
                        <li>
                            <i class="icon icon-mail"></i>
                            <p>{{ contact.emailHeader }}</p>
                            <p><a class="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                        </li>
                        <li>
                            <i class="icon icon-phone"></i>
                            <p>{{ contact.phoneHeader }}</p>
                            <p><a class="tel" href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}