---
title: Code Camps

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: code-camps

---

{% extends "default.njk" %}
{% block header %}
    {% include "partials/no-nav-header.njk" %}
{% endblock %}
{% block body %}
    <section id="intro" class="intro-section">
        <div class="container">
            <h1>Code Camps</h1>
            <img src="/assets/images/sponsors/works-museum-logo.png" alt="the works museum" />
            <p>Through a partnership with <a href="https://theworks.org/12-14-year-old-camps/">The Works® Museum</a>, we are able to offer these half-day programming camps.</p>
            
            <h2>Beginning App Inventor</h2>
            <p><em>$190 non-members, $171 members</em></p>
            <p>Create mobile apps with App Inventor programming language! Explore the basics of programming, testing, and debugging by building some simple apps, then design one of your own. Apps created will only run on Android devices, but owning one is NOT required for camp!</p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/CODE-SAVVY-BEGINNING-APP-INVENTOR">M-Th, June 17 - 20, 1-4 p.m.</a>  
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/AFTERCARE-WEEK-2-617-620">Register for aftercare June 17-20</a>
            </p>

            <h2>Minecraft MOD</h2>
            <p><em>$190 non-members, $171 members</em></p>
            <p>Enhance your Minecraft skills with code! Create events, build structures, and add new items to the game. Test your creations in a browser simulator or your Minecraft PC account.</p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/CODE-SAVVY-MINECRAFT-MOD">M-Th, July 15-18, 9 a.m.-12 p.m.</a>  
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/LUNCH-SUPERVISION-WEEK-6-715-718">Register for lunch supervision July 15-18.</a>
            </p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/CODE-SAVVY-MINECRAFT-MOD-12Aug2019">M-Th, August 12-15, 9 a.m.-12 p.m.</a>
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/LUNCH-SUPERVISION-WEEK-10-812-815">Register for lunch supervision August 12-15.</a>
            </p>

            <h2>Advanced App Inventor</h2>
            <p><em>$190, $171 members</em></p>
            <p>If you’ve taken Beginning App Inventor or participated in the Technovation Challenge, explore more advanced features of App Inventor! Explore using lists, arrays, and sensors and databases, then build you own app using these components. Apps created will only run on Android devices, but owning one is NOT required for camp.</p>
            <p>
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/CODE-SAVVY-ADVANDCED-APP-INVENTOR">M-Th, July 29-August 1, 1-4 p.m.</a>
                <a target="_blank" rel="noopener noreferrer" href="https://71902.blackbaudhosting.com/71902/AFTERCARE-WEEK-8-729-81">Register for aftercare July 29-August 1.</a>
            </p>
        </div>
    </section>

{% endblock %}