---
title: Code Camps

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: code-camps

header_images:
    contact: contact-header.jpg

---

{% extends "default.njk" %}
{% block header %}
    {% include "partials/no-nav-header.njk" %}
{% endblock %}
{% block body %}
    <div class="container">
        <section id="intro" class="intro-section">
            <h1>Code Camps</h1>
            <img src="/assets/images/sponsors/works-museum-logo.png" alt="the works museum" />
            <p>Through a partnership with <a href="https://theworks.org/">The Works® Museum</a>, we are able to offer these <a href= "https://theworks.org/code-savvy-camps/">half-day programming camps</a> for kids ages 11-13. These camps will take place in person at The Works Museum.
            </p> <br>
            <h3>Beginning Thunkable</h3>
            <strong>$200 non-members, $180 members</strong><br>
            <p>Learn to make mobile apps with Thunkable using drag and drop code blocks! You will create a variety of apps using components like translator and image recognizer, and put together clicking games such as space invaders! <br>
            <br>Thunkable apps can be loaded onto Android or iOS phones. We will be using a simulator, phones are NOT required for the camp.
            <br><br>
            <a href= "https://theworks.org/code-savvy-camps/">M-Th, July 12-15, 9a.m. - 12p.m.</a></p>
         <br>
         
            <h3>Website Design</h3>
            <strong>$200 non-members, $180 members</strong><br>
            <p>Learn how to construct a website using HTML, styling it with CSS, and making it interactive using Javascript. You will leave the class with published web pages! 
            <br><br>
            <a href= "https://theworks.org/code-savvy-camps/">M-Th, August 2 - 5, 9a.m. - 12p.m.</a></p>
         <br>
         <br>
        </section>
    </div>
{% endblock %}