---
title: In the News

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: news

---

{% extends "default.njk" %}

{% block header %}
    {% include "partials/no-nav-header.njk" %}
{% endblock %}

{% block body %}
    <section id="news" class="news-section">
        <div class="container">
            <div class="section-banner">
                <img src="/assets/images/banners/news-header.jpg" alt="newspapers" />
                <div class="section-banner__text">
                    <h1>In the News</h1>
                </div>
            </div>
            <ul id="code-savvy-news-list" class="list-unstyled news-list"></ul>
        </div>
    </section>
{% endblock %}