---
title: Welcome

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: home

header_images:
    welcome: home-banner.jpg
    about: about-header.jpg
    youth_programs: youth-header.jpg
    adult_programs: gwtp-header.jpg
    contact: contact-header.jpg
    events: events-calendar.jpg
    volunteers: volunteer-opportunities.jpg
    cs_with_cs: cs-with-code-savvy.jpg

---

{% extends "default.njk" %}

{% block body %}
    <div class="container">
        <section class="welcome-section">
            <div class="welcome-section__header" style="background-image: url('/assets/images/banners/{{ header_images.welcome }}')">
                <h1>{{ site.owner.name }}</h1>
                <p class="welcome-section__text">Make programming your superpower</p>
            </div>
            <a href="#upcoming-events"><i class="icon icon-arrow-down"></i></a>
        </section>

        <section id="cs-to-go" class="programs-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/site-images/{{ header_images.girls-coding }})">
                    <h1>Distance Learning</h1>
                </div>
                <div class="section-row__prose section-row__right has-highlight">
                    <p><strong>Distance Learning</strong> is our response to the current health crisis — two new programs CS to Go with Code Savvy, weekly youth centered challenges that focus on creating things with computer science and Bytes of Inspiration, a video series for CS Educators are now available.</p>
                    <a href="https://www.cstogo.org/" class="learn-more-link">Go to CS to Go</a>
                    <a href="https://mncodes.org/bytes-of-inspiration/)/" class="learn-more-link">Go to Bytes of Information</a>
                </div>
            </div>
        </section>

        <section id="upcoming-events" class="events-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__right has-slidein" style="background-image: url(/assets/images/site-images/{{ header_images.events }})">
                    <h1>Next Event</h1>
                </div>
                <div class="section-row__prose section-row__left has-highlight">
                    <p>All in person events are cancelled until at least May 31</p>
                    <a href="/calendar/" class="learn-more-link">Review Our Events Calendar</a>
                </div>
            </div>
        </section>

        <section id="get-with-the-program" class="programs-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/banners/{{ header_images.adult_programs }})">
                    <h1>Educator<br>Programs</h1>
                </div>
                <div class="section-row__prose section-row__right has-highlight">
                    <p>Our Educator Programs are designed to develop coding awareness, skills and resources among K-12 and after-school educators through hands-on workshops, conferences and mentoring, all with a focus on equity in computing</p>
                    <a href="https://mncodes.org/" target="_blank" class="learn-more-link">Learn More</a>
                    <a href="/blog/tekne-2017/" class="learn-more-link">STEM Education Tekne Award Winner</a>
                </div>
            </div>
        </section>

        <section id="youth-programs" class="programs-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__right" style="background-image: url(/assets/images/banners/{{ header_images.youth_programs }})">
                    <h1>Youth<br>Programs</h1>
                </div>
                <div class="section-row__prose section-row__left has-highlight">
                    <p>The main focus of Code Savvy is the development of opportunities for youth to engage in coding activities. Mentor provide support and encouragement for youth ages 8-17 in a variety of environments and locations through the Twin Cities and greater MN area.</p>
                </div>
            </div>
            <div class="section-row cf">
                <ul class="programs-list cf">
                    {% for item, program in programs %}
                    {% if program.type === 'youth' %}
                    <li>
                        <div class="programs-list__item-header" style="background-image: url('/assets/images/programs/{{ program.image_src }}')">
                            <p>{{ program.title }}</p>
                        </div>
                        {{ program.description }}
                        <a class="learn-more-link" href="{{ program.link_url }}">Learn More</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="volunteers" class="volunteers-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__right" style="background-image: url(/assets/images/banners/{{ header_images.volunteers }})">
                    <h1>Volunteer Opportunities</h1>
                </div>
                <div class="section-row__prose section-row__left has-highlight">
                    <h2>Be a Code Savvy Mentor</h2>
                    <p>Interested in helping inspire the next generation? Find out how you can be a Code Savvy mentor with one of our programs.</p>
                    <ul class="list-unstyled">
                        <li><a href="/volunteer-opportunities" class="learn-more-link">Learn More About Volunteering with Code Savvy</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="about" class="about-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/banners/{{ header_images.about }})">
                    <h1>About</h1>
                </div>
                <div class="section-row__prose section-row__right has-highlight">
                    <p>Code Savvy strives to make kids and teens more code-savvy through creative educational programs and services. We incubate and support community-based programs that bring technology and know-how to local kids and educators, all the while championing gender and ethnic diversity. Code Savvy is dedicated to ensuring the next generation of computer science professionals represents the billions of users of tomorrow’s innovative technologies.</p>
                    <a href="/about-us" class="learn-more-link">Learn More About Us</a>
                    <a href="/in-the-news" class="learn-more-link">In the News</a>
                </div>
            </div>
        </section>

        <section id="sponsors" class="sponsors-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__right" style="background-color: #3A1366;">
                    <h1>Our Sponsors</h1>
                </div>
                <div class="section-row__prose section-row__left has-highlight">
                    <p>Our sincere thanks to all of the organizations that support us</p>
                </div>
            </div>
            <div class="section-row cf">
                <ul class="sponsors-list list-inline list-unstyled">
                    {% for item, sponsor in sponsors %}
                    {% if sponsor.codesavvy %}
                    <li>
                        <a href="{{ sponsor.link_url }}">
                            <img src="/assets/images/sponsors/{{ sponsor.image_src }}" alt="{{ sponsor.name }}" />
                        </a>

                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="contact" class="contact-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/banners/{{ header_images.contact }})">
                    <h1>Contact Us</h1>
                </div>
                <div class="section-row__prose section-row__right has-highlight is-empty">
                    <p></p>
                </div>
            </div>
            <div class="section-row cf">
                <div class="contact-form section-row__left" >
                    <form name="contact" method="POST" netlify-honeypot="bot-field" netlify>
                        <div class="form-element">
                            <input type="text" name="name" placeholder="Your Name">
                        </div>
                        <div class="form-element">
                            <input type="email" name="email"  placeholder="Your Email">
                        </div>
                        <div class="form-element">
                            <textarea name="message" placeholder="Your Message"></textarea>
                        </div>
                        <div data-netlify-recaptcha></div>
                        <div class="form-element">
                            <button class="btn btn_b1" type="submit">Send</button>
                        </div>
                    </form>
                </div>
                <div class="contact-info section-row__right">
                    <ul class="contact-snippets adr">
                        <li>
                            <i class="icon icon-map-pin"></i>
                            <p>{{ contact.addressHeader }}</p>
                            <p class="street-address">{{ contact.street }}</p>
                            <p class="locality">{{ contact.city }},
                                <span class="region">{{ contact.state }} </span>
                                <span class="postal-code">{{ contact.postalCode }}</span>
                            </p>
                        </li>
                        <li>
                            <i class="icon icon-mail"></i>
                            <p>{{ contact.emailHeader }}</p>
                            <p><a class="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                        </li>
                        <li>
                            <i class="icon icon-phone"></i>
                            <p>{{ contact.phoneHeader }}</p>
                            <p><a class="tel" href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
{% endblock %}