---
title: Code Savvy

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: home

header_images:
    about: about-header.jpg
    youth_programs: youth-header.jpg
    adult_programs: gwtp-header.jpg
    contact: contact-header.jpg

---

{% extends "default.njk" %}

{% block body %}
    <div class="container">
        <section class="welcome-section">
            <div class="welcome-section__header" style="background-image: url('/assets/images/welcome-section/classroom-with-children.jpg')">
                <h1>{{ site.owner.name }}</h1>
                <p class="welcome-section__text">Learn how to code with Code Savvy</p>
            </div>
            <a href="#about"><i class="icon icon-arrow-down"></i></a>
        </section>

        <section id="about" class="about-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/banners/{{ header_images.about }})">
                    <h1>About</h1>
                </div>
                <div class="section-row__prose section-row__right">
                    <p>Code Savvy strives to make kids and teens more code-savvy through creative educational programs and services. We incubate and support community-based programs that bring technology and know-how to local kids and educators, all the while championing gender and ethnic diversity. Code Savvy is dedicated to ensuring the next generation of computer science professionals represents the billions of users of tomorrow’s innovative technologies.</p>
                    <a href="/about-us" class="learn-more-link">Learn More About Us</a>
                    <a href="/in-the-news" class="learn-more-link">In the News</a>
                </div>
            </div>
        </section>

        <section id="youth-programs" class="programs-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__right" style="background-image: url(/assets/images/banners/{{ header_images.youth_programs }})">
                    <h1>Youth<br>Programs</h1>
                </div>
                <div class="section-row__prose section-row__left">
                    <p>The main focus of Code Savvy is the development of opportunities for youth to engage in coding activities. Mentor provide support and encouragement for youth ages 8-17 in a variety of environments and locations through the Twin Cities and greater MN area.</p>
                </div>
            </div>
            <div class="section-row cf">
                <ul class="programs-list cf">
                    {% for item, program in programs %}
                    {% if program.type === 'youth' %}
                    <li>
                        <div class="programs-list__item-header" style="background-image: url('/assets/images/programs/{{ program.image_src }}')">
                            <p>{{ program.title }}</p>
                        </div>
                        {{ program.description }}
                        <a class="learn-more-link" href="{{ program.link_url }}">Learn More</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="get-with-the-program" class="programs-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/banners/{{ header_images.adult_programs }})">
                    <h1>Get with the<br>Program</h1>
                </div>
                <div class="section-row__prose section-row__right">
                    <p>The main focus of Code Savvy is the development of opportunities for youth to engage in coding activities. Mentor provide support and encouragement for youth ages 8-17 in a variety of environments and locations through the Twin Cities and greater MN area.</p>
                    <a href="/educator-programs" class="learn-more-link">Learn More</a>
                </div>
            </div>
        </section>

        <section id="team" class="teams-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__right" style="background-color: #3A1366">
                    <h1>Meet the Team</h1>
                </div>
                <div class="section-row__prose section-row__left">
                    <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur et. Sed posuere consectetur est at lobortis.</p>
                </div>
            </div>
            <div class="section-row auto-height cf">
                <h2 class="section-postamble">Board of Directors</h2>
            </div>
            <div class="section-row cf">
                <ul class="programs-list cf">
                    {% for item, teamMember in team.board_of_directors %}
                    <li>
                        <div class="programs-list__item-header" style="background-image: url('/assets/images/team/{{ teamMember.image_src }}')">
                            <p class="team-member-name">{{ teamMember.title }}</p>
                        </div>
                        <em>{{ teamMember.position }}</em>
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
            <div class="section-row auto-height cf">
                <h2 class="section-postamble">Program Directors</h2>
            </div>
            <div class="section-row cf">
                <ul class="programs-list cf">
                    {% for item, teamMember in team.program_directors %}
                    <li>
                        <div class="programs-list__item-header" style="background-image: url('/assets/images/team/{{ teamMember.image_src }}')">
                            <p class="team-member-name">{{ teamMember.title }}</p>
                        </div>
                        <em>{{ teamMember.position }}</em>
                    </li>
                    
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="sponsors" class="sponsors-section">
            <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-color: #3A1366;">
                    <h1>Our Sponsors</h1>
                </div>
                <div class="section-row__prose section-row__right">
                    <p>Our sincere thanks to all of the organizations that support us</p>
                </div>
            </div>
            <div class="section-row cf">
                <ul class="sponsors-list list-inline list-unstyled">
                    {% for item, sponsor in sponsors %}
                    {% if sponsor.codesavvy %}
                    <li>
                        <a href="{{ sponsor.link_url }}">
                            <img src="/assets/images/sponsors/{{ sponsor.image_src }}" alt="{{ sponsor.name }}" />
                        </a>

                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </section>

        <section id="contact" class="contact-section">
        <div class="section-row cf">
                <div class="section-row__header section-row__left" style="background-image: url(/assets/images/banners/{{ header_images.contact }})">
                    <h1>Contact Us</h1>
                </div>
                <div class="section-row__prose section-row__right">
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Etiam porta sem malesuada magna mollis euismod.</p>
                </div>
            </div>
        <div class="section-row cf">
            <div class="contact-form section-row__left" >
                <form name="contact" method="POST" netlify>
                    <div class="form-element">
                        <input type="text" name="name" placeholder="Your Name">
                    </div>
                    <div class="form-element">
                        <input type="email" name="email"  placeholder="Your Email">
                    </div>
                    <div class="form-element">
                        <textarea name="message" placeholder="Your Message"></textarea>
                    </div>
                    <div class="form-element">
                        <button class="btn btn_b1" type="submit">Send</button>
                    </div>
                </form>
            </div>
            <div class="contact-info section-row__right">
                <ul class="contact-snippets adr">
                    <li>
                        <i class="icon icon-map-pin"></i>
                        <p>{{ contact.addressHeader }}</p>
                        <p class="street-address">{{ contact.street }}</p>
                        <p class="locality">{{ contact.city }},
                            <span class="region">{{ contact.state }} </span>
                            <span class="postal-code">{{ contact.postalCode }}</span>
                        </p>
                    </li>
                    <li>
                        <i class="icon icon-mail"></i>
                        <p>{{ contact.emailHeader }}</p>
                        <p><a class="email" href="mailto:{{ contact.email }}">{{ contact.email }}</a></p>
                    </li>
                    <li>
                        <i class="icon icon-phone"></i>
                        <p>{{ contact.phoneHeader }}</p>
                        <p><a class="tel" href="tel:{{ contact.phone }}">{{ contact.phone }}</a></p>
                    </li>
                </ul>
            </div>

        </div>
            
        </section>
    </div>
{% endblock %}