---
draft: false
title: Educator Programs

#social media meta data settings
#-------------------------------
#Note: global social media settings are located in ./src/data/site.yml
includeSocialMetaData: true
page:
 image:
    thumb: /path/to/image.png

body_classes: piktograph

---

{% extends "default.njk" %}

{% block header %}
    {% include "partials/no-nav-header.njk" %}
{% endblock %}

{% block body %}
    
    <section id="cohort" class="mn-coding-cohort-section">
        <div class="container" style="overflow: hidden; padding: 0;">
        
            <div class="piktowrapper-embed" style="height: 300px; position: relative;" data-uid="27303453-2018-19-mn-coding-in-the-classroom-leadership-cohort">
                <div class="pikto-canvas-wrap">
                    <div class="pikto-canvas">
                        <div class="embed-loading-overlay" style="width: 100%; height: 100%; position: absolute; text-align: center;">
                            <img style="margin-top: 100px;" src="https://i0.wp.com/create.piktochart.com/loading.gif?w=60&#038;ssl=1" alt="Loading..." data-lazy-src="https://i0.wp.com/create.piktochart.com/loading.gif?w=60&amp;is-pending-load=1#038;ssl=1" srcset="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7" class=" jetpack-lazy-image">
                            <noscript><img style="margin-top: 100px;" src="https://i0.wp.com/create.piktochart.com/loading.gif?w=60&#038;ssl=1" alt="Loading..." data-recalc-dims="1" /></noscript>
                            <script>(function(d){var js, id="pikto-embed-js", ref=d.getElementsByTagName("script")[0];if (d.getElementById(id)) { return;}js=d.createElement("script"); js.id=id; js.async=true;js.src="https://create.piktochart.com/assets/embedding/embed.js";ref.parentNode.insertBefore(js, ref);}(document));</script>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
{% endblock %}