<div class="header-wrapper">
    <header class="clearfix">
        <div id="logo" class="brand">
            <a class="main-logo" href="/"><img class="img-responsive" src="/assets/images/logo.png" alt=""></a>
        </div>
        <a href="https://squareup.com/market/code-savvy/" class="btn btn_b1">Donate</a>
        <div class="navigation">
            <a class="hamburger"><span></span></a>
            <ul>
                <li><a href="#cohort">MN Coding Cohort</a></li>
                <li><a href="#summit">Coding Summit</a></li>
                <li><a href="#sponsors">Partners and Sponsors</a></li>
            </ul>
        </div>
    </header>
</div>