<footer style="background-image: url('{% if footer_background_image %}{{ footer_background_image }}{% else %}{{ site.footer_background_image }}{% endif %}')">
    <div class="container">
        
        <p>Code Savvy is a not-for-profit organization with 501(c)3 status from the IRS. Code Savvy's EIN is 46-3760347</p>

        <ul class="list-unstyled list-inline">
            <li class="social-link"><a href="https://www.linkedin.com/company/{{ site.owner.linkedin }}" target="_blank"><i class="icon icon-linkedin"></i></a></li>
            <li class="social-link"><a href="https://twitter.com/{{ site.owner.twitter }}" target="_blank"><i class="icon icon-twitter"></i></a></li>
            <li class="social-link"><a href="https://www.facebook.com/{{ site.owner.facebook }}" target="_blank"><i class="icon icon-facebook"></i></a></li>
        </ul>
        <ul class="list-unstyled list-inline">
            <li>&copy; 2018 {{ site.owner.name }} </li>
        </ul>

        <!-- Begin Mailchimp Signup Form -->
        

        <div id="mc_embed_signup">
            <form action="https://codesavvy.us5.list-manage.com/subscribe/post?u=efd1a559e0af20276037179b9&amp;id=6cfd29db43" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                <label for="mce-EMAIL">Subscribe to our Newsletter</label>
                <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_efd1a559e0af20276037179b9_6cfd29db43" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn_b1"></div>
                </div>
            </form>
        </div>

<!--End mc_embed_signup-->

        
    </div>
</footer>
