<div class="header-wrapper">
    <header class="clearfix">
        <div id="logo" class="brand">
            <a class="main-logo" href="/"><img class="img-responsive" src="/assets/images/logo.png" alt=""></a>
        </div>
        <a href="https://squareup.com/market/code-savvy/" class="btn btn_b1">Donate</a>
        <div class="navigation">
            <a class="hamburger"><span></span></a>
            <ul>
                <li><a href="#what-is">What is Rebecca CoderDojo</a></li>
                <li><a href="#register">Schedule & Tickets</a></li>
                <li><a href="#what-we-teach">What We Teach</a></li>
                <li><a href="#volunteer">Volunteer with Rebecca CoderDojo</a></li>
                <li><a href="#faqs">Frequently Asled Questions</a></li>
                <li><a href="#location">Our Location</a></li>
                <li><a href="#about">About Rebecca CoderDojo</a></li>
            </ul>
        </div>
    </header>
</div>